{% extends 'starter-page.html' %}
{% load static %}

{% block body %}
<form action="" class="container" method="POST">
{% csrf_token %}
<h1 class="text-center">CONTACT US</h1>

    <br><br>
    <label for="name" class="form-label">company name</label>
    <input type="text" id="name" name="name" class="form-control" placeholder="name">

    <br><br>
    <label for="email" class="form-label">email</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="abc@gmail.com">
    
    <br><br>
    <label for="message" class="form-label">message</label>
    <textarea name="message" id="message" cols="30" rows="5" class="form-control" ></textarea>
    
    <br><br>
    <label for="phone" class="form-label">phone number :</label>
    <input type="tel" name="phone" id="phone" class="form-control" placeholder="0700000000">
    
    <br><br>
    <label for="staff" class="form-label">number of staff</label>
    <input type="number" name="staff" id="staff" class="form-control" placeholder="no of staff">
    
    <br><br>
    <button type="submit" class="btn btn-primary text-center">save</button>

    </form>
{% endblock %}
